@import url('https://fonts.googleapis.com/css?family=Contrail+One|Gentium+Basic|Shrikhand');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#222;
	font-family: 'Gentium Basic', serif;
	font-size:16px;
	font-weight:400;
	line-height:1.5;
}
section {
	padding:5em 0;
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}
header {
<<<<<<< HEAD:unit_6/css/style.css
	background-color: [enter color here];
    padding: 20px;
    background-color: #FFDD1D
=======
	border: 1px black solid;
	padding: 20px;
	background-color: #FFED74;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
>>>>>>> origin/master:unit_5/css/style.css
}
h2 {
	font-family: 'Shrikhand', cursive;
}
.logo {
	font-family: 'Shrikhand', cursive;
	font-size: 3.5em;
}
p {
<<<<<<< HEAD:unit_6/css/style.css
	font-family: 'Gentium Basic', serif;
}
nav {
	font-family: 'Gentium Basic', serif;
}
figcaption {
	font-family: 'Gentium Basic', serif;
}
a {
	font-family: 'Gentium Basic', serif;
}

* { margin:0; padding:0; box-sizing:border-box;}
body {
	color:#222;
	font-family:helvetica, arial, sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:1.5;
}
section {
	padding:5em 0;
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
=======
	margin-top:1em;
>>>>>>> origin/master:unit_5/css/style.css
}
figure {
    width: 25%;
}
figure img {
	width:100%;
}
h1 {
	font-family: 'Contrail One', cursive;
	font-weight:700;
	font-size: 2em;
	width: 20em;
}
span {
	display:block;
	font-size:1.5em;
}
#hero {
	background: url("../images/steph_kp.jpg") no-repeat;
	background-size: cover;
	color:#fff;
	height: 90vh;
	padding: 5em 0 0 5em;
}
footer {
	text-align: center;
	padding: 1.5em 0;
	background-color: #FF957E
}
<<<<<<< HEAD:unit_6/css/style.css
#nba {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33%;
}
#duke {
	background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33%;
}
#concerts {
	 background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 34%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
=======
>>>>>>> origin/master:unit_5/css/style.css
