@import url('https://fonts.googleapis.com/css?family=Contrail+One|Gentium+Basic|Shrikhand');
* { margin:0; padding:0; box-sizing:border-box; }

body {
	color:#222;
	font-family: 'Gentium Basic', serif;
	font-size:16px;
	font-weight:400;
	line-height:1.5;
	background-color: #FFF9E5;

}
header {
	text-align: center;
	background-color: #FFE371;
}
section {
	padding: 2em 0;
}
h2 {
	font-family: 'Shrikhand', cursive;
}
h3 {
	font-family: 'Shrikhand', cursive;
}
.logo {
	font-family: 'Shrikhand', cursive;
	font-size: 3.5em;
}
p {

}
nav {
	padding: 2em;
}
figcaption {

}
a {
	padding: .5em;
	color: #000;
	text-transform: uppercase;
	font-style: bold;
	text-decoration: none;
}
a:hover {
	background-color: #ffd013;
	border-radius: .4em;
}
#nba figure {
    width: 33.33%;
    float: left;
    padding: 1em;
}
figure img {
	width:100%;
}
h1 {
	font-family: 'Contrail One', cursive;
	font-weight:700;
	font-size: 2em;
	width: 20em;
}
span {
	display:block;
	font-size:1.5em;
}
#hero {
	background: url("../images/steph_kp.jpg") no-repeat;
	background-size: cover;
	color:#fff;
	height: 90vh;
	padding: 5em 0 0 5em;
}
footer {
	text-align: center;
	padding: 1.5em 0;
	background-color: #FFE371;
}
#nba {
	background-color:#F9F9F9;

}
#duke {
    padding: 20px;
    float: left;
    width: 33%;
}
#columns section {
	 float: left;
	 width: 50%;
	 padding: 1em;
}
#DK {
	width: 55%;
    float: left;
    padding: 1em;
}
#MeetDK {
	width: 45%;
    float: right;
    padding: 1em;
}
#concerts {

}
#title {
	background-color: #FFE371;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 900px) {
	#MeetDK {
    	width: 100%;
    	float: none;
	}
	#DK {
		width: 100%;
    	float: none;
    	display: block;
	}
	h1 {
		width: 90%;
	}
}

@media only screen and (max-width: 720px) {
	#nba figure {
    	width: 100.00%;
    	float: none;
	}
}

@media only screen and (max-width: 580px) {
	#columns section {
    	float: left;
    	width: 100%;
	}
}
