header {
	background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
    background-color: #FFED74
}
h2 {
	font-family: 'Shrikhand', cursive;
	border: 1px black solid;
    padding: 20px;
}
.logo {
	font-family: 'Shrikhand', cursive;
	font-size: 3.5em;
}
p {
	font-family: 'Gentium Basic', serif;
}
nav {
	font-family: 'Gentium Basic', serif;
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}
figcaption {
	font-family: 'Gentium Basic', serif;
}
a {
	font-family: 'Gentium Basic', serif;
}

* { margin:0; padding:0; box-sizing:border-box;}
body {
	color:#222;
	font-family:helvetica, arial, sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:1.5;
}
section {
	padding:5em 0;
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}
figure {
    width: 25%;
}
figure img {
	width:100%;
}
h1 {
	font-family: 'Contrail One', cursive;
	font-weight:700;
	font-size: 2em;
	width: 20em;
}
span {
	display:block;
	font-size:1.5em;
}
#hero {
	background: url("../images/steph_kp.jpg") no-repeat;
	background-size: cover;
	color:#fff;
	height: 90vh;
	padding: 5em 0 0 5em;
}
footer {
	text-align: center;
	padding: 1.5em 0;
	background-color: #FF957E
}
#wrapper {
	background-color: #E89C6C;
}