body {
	background-image: url(../images/steph_kp);
	background-size: cover;
	font-family: Helvetica;
}
h1 {
	color: white;
	font-style: bold;
	font-size: 250%;
	text-decoration: underline;
}
p {
	font-size: 100%;
	color: white;
}


