body {
	background-image: url(../"images/steph_kp.jpg");
	background-size: cover;
}
h1 {
	color: white;
	font-style: bold;
	font-size: 250%;
	text-decoration: underline;
}
p {
	font-size: 100%;
	color: white;
}

